<img src="https://media-exp3.licdn.com/dms/image/C4D03AQG_Re1kpUjXEw/profile-displayphoto-shrink_200_200/0/1589890532232?e=1628726400&v=beta&t=-BxECypsK4MXIVjN8q-ha8RhQOgBfeKi9uYYKl2vFRo" id="activiteitenFoto">
<div class="welkom">
    <p>Hallo, Niels Peeters</p>
    <h4>Laten we bewegen</h4>
</div>

<div class="container">
    <div class="block block-1">
    </div>
    <div class="block block-2">
    </div>
    <div class="block block-3">
    </div>
    <div class="block block-4">
    </div>
    <div class="block block-5">
    </div>
</div>

<script src="/js/scroll.js"></script>
<script>
    var blocks = document.getElementsByClassName("block");
    var container = document.getElementsByClassName("container");
    var hs = new HorizontalScroll.default({
        blocks: blocks,
        container: container,
        isAnimated: true,
        springEffect: 0.8,
    });
</script>

<div class="populair">
    <h4>Populaire activiteiten</h4>
</div>

<div class="activities_wrapper">
    <a href="/" class="activity_overview">
        <p>Wandelen</p>
        <!-- icon: https://thenounproject.com/search/?q=walking&i=112220  -->
        <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Boodschappen doen</p>
        <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Stofzuigen</p>
        <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Tuinieren</p>
        <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Fietsen</p>
        <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Fysio/Ergo oefeningen</p>
        <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </a>
    </div>
