<img src="https://media-exp3.licdn.com/dms/image/C4D03AQG_Re1kpUjXEw/profile-displayphoto-shrink_200_200/0/1589890532232?e=1628726400&v=beta&t=-BxECypsK4MXIVjN8q-ha8RhQOgBfeKi9uYYKl2vFRo" id="activiteitenFoto">
<div class="exercise">
    <p>Hallo, Niels Peeters</p>
    <h4>Welke activiteiten heeft u vandaag gedaan?</h4>
</div>

<form action="/logboek" method="POST" class="activiteiten_wrapper">
    <input type="checkbox" id="wandelen" name="wandelen">
    <label for="wandelen">Wandelen
    <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </label>

    <input type="checkbox" id="fietsen" name="fietsen">
    <label for="fietsen">Fietsen
    <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </label>

    <input type="checkbox" id="boodschappen" name="boodschappen">
    <label for="boodschappen">Boodschappen
    <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </label>

    <input type="checkbox" id="tuinieren" name="tuinieren">
    <label for="tuinieren">Tuinieren
    <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </label>

    <input type="checkbox" id="oefeningen" name="oefeningen">
    <label for="oefeningen">Oefeningen
    <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
    </label>

    <button type="submit" class="addBtn">
        Voeg toe
    </button>

</div>
