<img src="https://media-exp3.licdn.com/dms/image/C4D03AQG_Re1kpUjXEw/profile-displayphoto-shrink_200_200/0/1589890532232?e=1628726400&v=beta&t=-BxECypsK4MXIVjN8q-ha8RhQOgBfeKi9uYYKl2vFRo" id="activiteitenFoto">

<body class="light">
    
    <div class="planning">
        <p>Hallo, Niels Peeters</p>
        <h4>Uw logboek</h4>
    </div>
    
    <div class="calendar">
        <div class="calendar-header">
            <span class="month-picker" id="month-picker">February</span>
            <div class="year-picker">
                <span class="year-change" id="prev-year">
                    <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-change" id="next-year">
                    <pre>></pre>
                </span>
            </div>
        </div>
        <div class="calendar-body">
            <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-days"></div>
        </div>
        <div class="calendar-footer">
            <div class="toggle">
                <span>Dark Mode</span>
                <div class="dark-mode-switch">
                    <div class="dark-mode-switch-ident"></div>
                </div>
            </div>
        </div>
        <div class="month-list"></div>
    </div>
    
    <script src="/js/app.js"></script>
    
    <div class="vandaag">
        <h4>Afgeronde activiteiten</h4>
    </div>
    
    <div class="activities_wrapper">
        <a href="/" class="activity_overview">
            <p>Wandelen</p>
            <!-- icon: https://thenounproject.com/search/?q=walking&i=112220  -->
            <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
        </a>
        <a href="/" class="activity_overview">
            <p>Boodschappen doen</p>
            <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
        </a>
        <a href="/" class="activity_overview">
            <p>Stofzuigen</p>
            <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
        </a>
        <a href="/" class="activity_overview">
            <p>Tuinieren</p>
            <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
        </a>
        <a href="/" class="activity_overview">
            <p>Fietsen</p>
            <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
        </a>
        <a href="/" class="activity_overview">
            <p>Fysio/Ergo oefeningen</p>
            <img src="https://static.thenounproject.com/png/3983187-200.png" alt="icon walking">
        </a>
    </div>
    
</body>