<div class="footerimg">
  <img src="/images/Navigation-bottom.svg">
</div>
<nav class="navigatie">
  <a class="button" id="logboek" href="../logboek"></a>
  <a class="button" id="doelen" href="../doelen"></a>
  <a class="button" id="toevoegen" href="/"></a>
  <a class="button" id="activiteit" href="../activiteiten"></a>
  <a class="button" id="profiel" href="/"></a>
</nav>

</html>