<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="js/index.js"></script>
<body>
    <section class="pamScores">
        <div class="grafiek">
            <svg class="graph"></svg>
        </div>
        <span class="weekAverage">
            <h4>Average</h4>
            <p>PAM Score</p>
            <%=currentWeek %> ᐁ
        </span>
    </section>
</body>