<body>
<img src="https://media-exp3.licdn.com/dms/image/C4D03AQG_Re1kpUjXEw/profile-displayphoto-shrink_200_200/0/1589890532232?e=1628726400&v=beta&t=-BxECypsK4MXIVjN8q-ha8RhQOgBfeKi9uYYKl2vFRo" id="activiteitenFoto">

<div class="welkom">
  <p>Hallo, Niels Peeters</p>
  <h4>Wat is je dagelijkse doelstelling?</h4>
</div>

<div class="doelContainer">
<div class="lichtDoel">
  <label for="fname">Lichte</label>
  <input type="number" id="fname" name="fname"><br><br>
</div>
<div class="mediumDoel">
  <label for="fname">Medium</label>
  <input type="number" id="fname" name="fname"><br><br>
</div>
<div class="zwaarDoel">
  <label for="fname">Zware</label>
  <input type="number" id="fname" name="fname"><br><br>
</div>
<div class="pamscore">
<label for="fname">PAM score</label>
<input type="number" id="fname" name="fname"><br><br>
</div>
</div>
</body>
