*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  
  --blue: #0000ff;
  --white: #fff;
  
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

body{
  background-repeat: no-repeat;
  background-color: #2E2F55;
  letter-spacing: 0.1rem;
  width: 100vw;
  height: 100vh;
}

div.foto {
  width: 100%;
  height: 201px;
  margin-top: 60px;
  display: grid;
  justify-content: center;
  text-align: center;
}

div.tekst {
  margin-top: 10px;
  color: white;
}

div.tekst h4 {
  font-size: 2rem;
  font-weight: 300;
}

div.tekst p {
  font-size: 1.5rem;
  font-weight: 100;
}

img#pFoto {
  border-radius: 50%;
  width: 80%;
  margin-left: 10%;
}

/* Progress */

section.progress {
  display: flex;
  justify-content: center;
}

.lightprogress {
  margin: 20px 10px 10px 10px;
}

.mediumprogress {
  margin: 20px 10px 10px 10px;
}

.heavyprogress {
  margin: 20px 10px 10px 10px;
}

div.box .percent {
  position: relative;
  width: 100%;
  height: 100%;
}

div.box .percent svg.goal {
  position: relative;
  width: 150px;
  height: 150px;
}

div.box .percent svg.goal circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px,5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  animation: fadeIn ease-in 0.4s;
}

div.box .percent svg.goal circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box .percent svg.goal circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 87) / 100);
  stroke: #03a9f4;
}

div.box .percent svg.goal circle.medium:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box .percent svg.goal circle.medium:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #03a9f4;
}

div.box .percent svg.goal circle.heavy:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box .percent svg.goal circle.heavy:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 0) / 100);
  stroke: #03a9f4;
}

div.box .percent .value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: orange;
}

div.box .percent .value h2 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

div.box .percent .value h2 span {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}


@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Daily PAM Scores */

section.pamScores {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

span.weekAverage {
  text-align: center;
  padding: 4px 4px;
  border: solid 2px white;
  position: absolute;
  margin-left: 30rem;
  font-size: 1.5rem;
  color: orange;
}

div.grafiek{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

svg.graph {
  position: relative;
}

/* Suggested activities */

dd {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

dt {
  font-size: 1rem;
  color: white;
  font-weight: 100;
}

div.background {
  margin-top: 3rem;
  width: 450px;
  height: 400px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: white;
  opacity: 0.1;
  margin-left: 10rem;
  position: absolute;
}

div.activityBar {
  position: absolute;
  width: 450px;
  text-align: center;
  margin-top: 5rem;
}

div.activityBar h4 {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

div.welkom {
  color: white;
  width: 414px;
  height: 102px;
  margin-top: 10rem;
}

div.welkom p {
  font-weight: 100;
  margin-left: 5rem;
  font-size: 1.2rem;
}

div.welkom h4 {
  font-weight: 600;
  margin-left: 5rem;
  font-size: 2rem;
}

div.planning {
  color: white;
  width: 414px;
  height: 102px;
  margin-top: 3rem;
}

div.planning p {
  font-weight: 100;
  margin-left: 5rem;
  font-size: 1.2rem;
}

div.planning h4 {
  font-weight: 600;
  margin-left: 5rem;
  font-size: 2rem;
}

#activiteitenFoto {
  position: absolute;
  width: 15%;
  border-radius: 50%;
  margin-left: 80%;
  top: 0;
  margin-top: 50px;
}

div.vandaag {
  width: 100%;
  height: 30px;
}

div.vandaag h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 5rem;
}

.block {
  width: 400px;
  height: 460px;
}

.block-1 {
  background: url(/images/Top\ img\ 1.svg) no-repeat 50% 50%;
}

.block-2 {
  background: url(/images/Top\ img\ 1.svg)  no-repeat 50% 50%;
}

.block-3 {
  background: url(/images/Top\ img\ 1.svg)  no-repeat 50% 50%;
}

.block-4 {
  background: url(/images/Top\ img\ 1.svg)  no-repeat 50% 50%;
}

.block-5 {
  background: url(/images/Top\ img\ 1.svg)  no-repeat 50% 50%;
}

.container {
  width: 80%;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  margin-top: -9rem;
  margin-left: 2rem;
}

div.populair {
  width: 100%;
  height: 30px;
}

div.populair h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 5rem;
}

.activities_wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.activity_overview {
  min-width: 12rem;
  height: 12rem;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: default;
  text-decoration: none;
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  font-weight: 500;
  opacity: 0.8;
}

.activity_overview img {
  height: 4.5rem;
}

.activity_overview p {
  width: 100%;
  text-align: center;
}

/* navigation */

div.footerimg img {
  width: 70%;
  position: fixed;
  bottom:0;
  margin-left: 15%;
}

nav.navigatie {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 40px;
  margin-bottom: 1.5rem;
}

nav.navigatie .button {
  padding: 40px;
}

nav.navigatie #logboek {
  margin-left: 80px;
}

nav.navigatie #doelen {
  margin-left: 20px;
}

nav.navigatie #toevoegen {
  margin-left: 45px;
  border-radius: 50%;
}

nav.navigatie #activiteit {
  margin-left: 53px;
}

nav.navigatie #profiel {
  margin-left: 20px;
}

/* Doelen */

.doelContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 236px 236px;
  width: 100%;
  height: 50%;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

div.lichtDoel {
  width: 200px;
  padding-top: 10px;
  height: 210px;
  background: #ff92a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2E2F55, #ff92a4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2E2F55, #ff92a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  border-radius: 10px;
}

div.mediumDoel {
  width: 200px;
  padding-top: 10px;
  height: 210px;
  background: #ff92a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #122c49, #ff92a4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2E2F55, #ff92a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  border-radius: 10px;
}

div.zwaarDoel {
  width: 200px;
  padding-top: 10px;
  margin-top: 20px;
  height: 210px;
  background: #ff92a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2E2F55, #ff92a4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2E2F55, #ff92a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  border-radius: 10px;
}

div.pamscore {
  width: 200px;
  padding-top: 10px;
  margin-top: 20px;
  height: 210px;
  background: #ff92a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2E2F55, #ff92a4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2E2F55, #ff92a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  border-radius: 10px;
}

input#fname {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20%;
  font-size: 2rem;
  width: 140px;
  text-align: center;
  opacity: 0.8;
}

.doelContainer label {
  font-size: 2rem;
  font-weight: 300;
}

/* calendar */

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-left: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.light .calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
